

.page {
  min-height: 100vh;
  /* background-color: hsl(var(--background)); */
  background-color: #F8FAFC;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}

.content {
  width: 90%;
  margin: 0 auto;
}

.content > * {
  width: 100%;
}

.panfletoFullBleed {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}